#background-circle {
     background: #0099FF;
     Width: 140vw;
     height: 80vh;
     border-radius: 100%;
     position: absolute;
     top: -30vh;
     left: -20vw;
     z-index: 1;
 
}
.icons{
    font-size: 5em;
    color: white;
}
.temp_h1{
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    margin-bottom: 0;
}
.high_low{
    color: white;
    margin: 0;
}
.temp_h2{
    margin-top: 0;
    margin-bottom: 35px;
    color: white;
}
#map_overlay{
    height: 500px;
    width: 100vw;
    position: relative;
    top: -90px;
    z-index: 0;
}
#home__overlay{
    position: relative;
    top: -70px;
    margin-bottom: 0;
    z-index: 1;
}
.gmnoprint{
    visibility: hidden;
}
.gm-fullscreen-control{
    visibility: hidden;
}