
#background-circle {
     background: #0099FF;
     Width: 140vw;
     height: 80vh;
     border-radius: 100%;
     position: absolute;
     top: -30vh;
     left: -20vw;
     z-index: 0;
 
}

.icons{
    font-size: 5em;
    color: white;
}
.temp_h1{
    font-size: 2.5em;
    font-weight: bold;
    color: white;
}
.high_low{
    color: white;
    margin: 0;
}